In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('fraud_detect.csv')
print(df.isnull().sum())

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    1
newbalanceDest    1
isFraud           1
isFlaggedFraud    1
dtype: int64

In [ ]:
missing_rows = df[df.isnull().any(axis =1)]
print(missing_rows)

         step      type    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
2587690   207  CASH_OUT  36206.58  C2027678034         4176.0             0.0

        nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
2587690    C1012             NaN             NaN      NaN             NaN

In [ ]:
df = df.dropna()
df.count()

step              2587690
type              2587690
amount            2587690
nameOrig          2587690
oldbalanceOrg     2587690
newbalanceOrig    2587690
nameDest          2587690
oldbalanceDest    2587690
newbalanceDest    2587690
isFraud           2587690
isFlaggedFraud    2587690
dtype: int64

In [ ]:
X = df.drop(['isFraud', 'isFlaggedFraud', 'nameDest', 'nameOrig'], axis = 1)
y = df['isFraud']

In [ ]:
# encoding categorical data

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
cat_data = ['type']
ct = ColumnTransformer(
    transformers = [('encoder', OneHotEncoder(), cat_data)],
    remainder = 'passthrough')
X = ct.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [ ]:
# feature scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(-1,1), np.array(y_test).reshape(-1,1)), 1))

[[0. 0.]
 [0. 0.]
 [0. 0.]
 ...
 [0. 0.]
 [0. 0.]
 [0. 0.]]

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix
print(confusion_matrix(y_test, y_pred))
accuracy_score(y_test, y_pred)

[[775614     30]
 [   476    187]]

0.9993481960100836